/* =============================================================================
   OVERFLOW (utilities/_overflow.scss)
   ========================================================================== */

/* stylelint-disable declaration-no-important */

/**
 * Utilities for controlling how an element handles content that is too large
 * for the container.
 */

.u-overflow-visible {
	overflow: visible !important;
}

.u-overflow-auto {
	overflow: auto !important;
}

.u-overflow-hidden {
	overflow: hidden !important;
}

.u-overflow-x-scroll {
	overflow-x: auto !important;
}

.u-overflow-y-scroll {
	overflow-y: auto !important;
}

.u-overflow-scroll {
	overflow: scroll !important;
}
