/* =============================================================================
   DOWNLOAD-CODE (components/_download-code.scss)
   ========================================================================== */

.c-download-code {
	text-align: center;
	margin: 50px auto 0;
	display: block;
}

.c-download-code__icon {
	display: inline-block;
	width: 80px;
}

.c-download-code__text {
	display: inline-block;
}
