/* =============================================================================
   EMAIL-PREVIEW (components/_email-preview.scss)
   ========================================================================== */

.c-email-preview {
	display: block;
	width: 100%;
	position: relative;
	margin-bottom: 3.75rem;

	img {
		display: block;
	}
}



/* Mobile
   ========================================================================== */

.c-email-preview__desktop {
	box-shadow: rgba(0, 0, 0, .25) 0 0 1.5625rem;

	@include media-breakpoint-up(md) {
		display: inline-block;
		max-width: 90%;
	}
}

.c-email-preview__mobile {
	display: none;

	@include media-breakpoint-up(md) {
		display: block;
		max-width: 35%;
		position: absolute;
		bottom: 4.6875rem;
		right: 0;
	}
}
