/* =============================================================================
   FILTER-NAV (components/_filter-nav.scss)
   ========================================================================== */

.c-filter-nav {
	@extend .o-list-inline;
	font-weight: $font-weight-medium;
	margin-bottom: 1.875rem;

	@include media-breakpoint-up(sm) {
		border-bottom: 1px solid $color-gray-50;
	}

	li {
		@extend .o-list-inline__item;
		display: block;

		@include media-breakpoint-up(sm) {
			display: inline-block;
		}

		&.is-active {
			a {
				border-bottom-color: $color-blue;
			}
		}
	}

	li + li {
		@include media-breakpoint-up(sm) {
			margin-left: 2.8125rem;
		}
	}

	a {
		display: block;
		line-height: 3.8;
		border-bottom: 1px solid $color-gray-50;
		margin-bottom: -1px;
		transition: border-bottom-color .2s;

		@include media-breakpoint-up(sm) {
			border-bottom-color: transparent;
		}

		&:hover {
			border-bottom-color: $color-blue;
		}
	}
}
