/* =============================================================================
   RATING (components/_rating.scss)
   ========================================================================== */

.c-rating {
	display: flex;
	margin-bottom: 1.875rem;
}



/* Item
   ========================================================================== */

.c-rating__item {
	& + & {
		margin-left: .3rem;
	}
}
