/* =============================================================================
   TABS (components/_tabs.scss)
   ========================================================================== */

/**
 * Component for toggling the visibility of content.
 */

/* Navigation
   ========================================================================== */

.c-tabs__nav {
	@extend .o-list-bare;
	@extend .o-list-inline;

	li {
		@extend .o-list-inline__item;
	}

	a {
		color: inherit;
	}
}

.c-tabs__nav--1\/2\@lg {
	@include media-breakpoint-up(lg) {
		display: flex;
		flex-wrap: wrap;
	}

	li {
		width: 100%;
		flex-basis: 50%;

		&:nth-child(odd) {
			@include media-breakpoint-up(lg) {
				padding-right: $grid-gutter / 2;
			}
		}

		&:nth-child(even) {
			@include media-breakpoint-up(lg) {
				padding-left: $grid-gutter / 2;
			}
		}
	}
}



/* Variants
   ========================================================================== */

/**
 * Simple variation with white colored text and underline inside navigation.
 */

.c-tabs--simple {
	.c-tabs__nav {
		font-weight: $font-weight-bold;
		margin-bottom: 1.5625rem;

		li + li {
			margin-left: 1.5625rem;

			@include media-breakpoint-up(md) {
				margin-left: 3.125rem;
			}
		}

		a {
			color: inherit;
			border-bottom: .125rem solid;
			padding-bottom: .3125rem;
			opacity: .45;
			transition: opacity .2s;

			&.is-active {
				opacity: 1;
			}
		}
	}
}
