/* =============================================================================
   TEMPLATE-INFO (components/_template-info.scss)
   ========================================================================== */

.c-template-info {
	color: $color-white;
	background-color: $color-dark-blue;
	padding: 1.875rem;

	@include media-breakpoint-up(lg) {
		position: sticky;
		top: 1.875rem;
	}

	p {
		margin-bottom: 1.875rem;
	}
}



/* Content
   ========================================================================== */

p.c-template-info__label {
	text-transform: uppercase;
	font-weight: $font-weight-medium;
	margin-bottom: 0;
}

.c-template-info__price {
	font-size: 5rem;
	font-weight: $font-weight-semibold;
	line-height: 1;
}

.c-template-info__sales {
	font-size: 2.1875rem;
	line-height: 1;
}

.c-template-info__currency {
	font-size: 2.1875rem;
	font-weight: $font-weight-regular;
	vertical-align: top;
}

.c-template-info__list {
	@extend .o-list-bare;
	margin-bottom: 1.875rem;

	li {
		&::before {
			content: '—';
			margin-right: .5rem;
		}
	}
}

.c-template-info__hr {
	opacity: .3;
	border-width: 2px;
	margin-left: -1.875rem;
	margin-right: -1.875rem;
	margin-bottom: 1.875rem;
}
