/* =============================================================================
   VIDEO (components/_video.scss)
   ========================================================================== */

.c-video {
	height: 200px;

	@include media-breakpoint-up(md) {
		height: 600px;
	}
}

.c-video--small {
	width: 300px;
	height: 200px;
	margin: 20px auto;

	@include media-breakpoint-up(md) {
		width: 420px;
		height: 315px;
	}
}