/* =============================================================================
   VISP-ITEM (components/_visp-item.scss)
   ========================================================================== */

.c-visp-items {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.c-visp-item {
	flex: 0 100%;
	position: relative;
	pointer-events: all;
	border-bottom: 0;

	@include media-breakpoint-up(md) {
		flex: 0 50%;
	}

	&:hover {
		.c-visp-item__image img {
			transform: scale(1.3);
		}
	}
}

.c-visp-item__image {
	width: 100%;
	pointer-events: none;
	overflow: hidden;

	img {
		width: 100%;
		transform: scale(1);
		transition: .3s ease-in-out;
	}
}

.c-visp-item__details {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}
