/* =============================================================================
   BADGE (components/_badge.scss)
   ========================================================================== */

.c-badge {
	display: inline-block;
	font-size: .875rem;
	font-weight: $font-weight-semibold;
	color: $color-white;
	background-color: $color-gray-300;
	vertical-align: top;
	padding: 0 .75rem .0625rem .75rem;
}



/* Variants
   ========================================================================== */

.c-badge--green {
	background-color: $color-green;
}

.c-badge--red {
	background-color: $color-red;
}

.c-badge--purple {
	background-color: $color-purple;
}

.c-badge--gold {
	background-color: $color-gold;
}
