/* =============================================================================
   CODE-BLOCK (components/_code-block.scss)
   ========================================================================== */

.c-code-block-header {
	font-weight: $font-weight-medium;
	background-color: $color-gray-30;
	border: 1px solid $color-gray-50;
	border-bottom: 0;
	padding: .5rem 1.25rem;
}
