/* =============================================================================
   ICON (components/_icon.scss)
   ========================================================================== */

.c-icon {
	display: inline;

	svg {
		width: 1em;
		height: 1em;
		margin-top: -.15em;
	}
}



/* Variants
   ========================================================================== */

.c-icon--sm {
	svg {
		width: .85em;
		height: .85em;
	}
}
