/* =============================================================================
   PREVIEW-MODAL (components/_preview-modal.scss)
   ========================================================================== */

.c-preview-modal {
	padding-top: 7.5rem;
	padding-bottom: 7.5rem;
	padding-right: 4.375rem;
	padding-left: 4.375rem;
}



/* Close
   ========================================================================== */

/**
 * 1. Override magnific popup default styles.
 */

.c-preview-modal__close {
	width: 3.125rem;
	height: 3.125rem;
	background-image: url(../images/icons/icn-close.svg) !important; /* [1] */ /* stylelint-disable-line */
	background-size: cover;
	position: fixed;
	top: 1.25rem;
	right: 1.25rem;
	padding: 0;
	opacity: 1 !important; /* [1] */ /* stylelint-disable-line */

	&:active {
		top: 1.25rem;
	}
}



/* Devices
   ========================================================================== */

.c-preview-modal__desktop,
.c-preview-modal__mobile {
	box-shadow: rgba(0, 0, 0, .25) 0 0 1.5625rem;
}
