/* =============================================================================
   TEMPLATES-GALLERY (components/_templates-gallery.scss)
   ========================================================================== */

.c-templates-gallery {
	display: flex;
	width: 138.75rem;
	justify-content: center;
	margin-left: calc((100% - 138.75rem) / 2);
}



/* Item
   ========================================================================== */

.c-templates-gallery__item {
	flex: 0 0 43.375rem;
	margin-right: $grid-gutter / 2;
	margin-left: $grid-gutter / 2;
}
